{% extends 'base.html' %}

{% block title %} Expenses {% endblock %}
{% block content %} 

  <div>
    <table>
      <thead>
        <tr>
          <th>Amount</th>
          <th>Description</th>
          <th>Category</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      {% for expense in expenses %}
      <tbody>
        <tr>
          <td>{{ expense.amount }}</td>
          <td>{{ expense.description }}</td>
          <td>{{ expense.category }}</td>
          <td>{{ expense.date }}</td>
          <td><form action={% url 'remove_item' %} method="post">
            {% csrf_token %}
            <button type="submit" name='expense'  value={{ expense.id }} class="remove_item">X</button>
          </form></td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>

  <div class="form-container">
    <form class="form" action={% url 'add_expense' %} method="post">
      {% csrf_token %}
      {{ form }}
      <button type="submit">Add Expense</button>
    </form>
  </div>

{% endblock %}