{% extends 'base.html' %}

{% block title %} Income Page {% endblock %}
{% block content %}
  
  <div>
    <table>
      <tr>
        <th>Amount</th>
        <th>Description</th>
        <th>Category</th>
        <th>Date</th>
        <th></th>
      </tr>
      {% for income in incomes %}
        <tr>
          <td>{{ income.amount }}</td>
          <td>{{ income.description }}</td>
          <td>{{ income.category }}</td>
          <td>{{ income.date }}</td>
          <td><form action={% url 'remove_item' %} method="post"><button type="submit" value={{ income.id }}>X</button></form></td>
        </tr>
      {% endfor %}
    </table>
  </div>
  
  <div>
    <form action={% url 'add_income' %} method="post">
      {% csrf_token %}
      {{ form.as_div }}
      <button type="submit">Add Income</button>
    </form>
  </div>
    
{% endblock %}